<div role="main" class="wrapper">
  <!-- ================================================== -->
  <!-- Header -->
  <!-- ================================================== -->
  <div class="header">
    <div class="time-offset-cell">
      <span class="spacer"></span>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Sun</div>
        <div class="day-date-container">
          <button mat-button role="link" class="day-date">13</button>
        </div>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Mon</div>
        <button mat-button role="link" class="day-date">14</button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Tue</div>
        <button mat-button role="link" class="day-date">15</button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Wed</div>
        <button mat-button role="link" class="day-date">16</button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Thu</div>
        <button mat-button role="link" class="day-date">17</button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Fri</div>
        <button mat-button role="link" class="day-date">18</button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="day-name">Sat</div>
        <button mat-button role="link" class="day-date">19</button>
      </h2>
    </div>
  </div>

  <!-- ================================================== -->
  <!-- All-day events container -->
  <!-- ================================================== -->
  <div class="all-day-events-container">
    <div class="time-offset-cell">
      <span class="time-offset-label">GMT-06</span>
    </div>
    <div id="0" class="cell all-day-event-cell">
      <div class="event all-day-event">
        <span>Renew Bloomberg subscription</span>
      </div>
    </div>
    <div id="1" class="cell all-day-event-cell"></div>
    <div id="2" class="cell all-day-event-cell"></div>
    <div id="3" class="cell all-day-event-cell"></div>
    <div id="4" class="cell all-day-event-cell"></div>
    <div id="5" class="cell all-day-event-cell"></div>
    <div id="6" class="cell all-day-event-cell"></div>
  </div>

  <!-- ================================================== -->
  <!-- Calendar content -->
  <!-- ================================================== -->
  <div id="calendar" class="calendar-container"></div>
</div>
