<div role="main" class="wrapper">
  <!-- ================================================== -->
  <!-- Header -->
  <!-- ================================================== -->
  <div class="header">
    <div class="time-offset-cell">
      <span class="spacer"></span>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday">Sun</div>
        <div class="day-container">
          <button tabindex="0" mat-button role="link" class="day"></button>
        </div>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday"></div>
        <button tabindex="0" mat-button role="link" class="day"></button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday"></div>
        <button tabindex="0" mat-button role="link" class="day"></button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday"></div>
        <button tabindex="0" mat-button role="link" class="day"></button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday"></div>
        <button tabindex="0" mat-button role="link" class="day"></button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday"></div>
        <button tabindex="0" mat-button role="link" class="day"></button>
      </h2>
    </div>
    <div class="header-cell">
      <h2 class="date-info-container">
        <div class="weekday"></div>
        <button tabindex="0" mat-button role="link" class="day"></button>
      </h2>
    </div>
  </div>

  <!-- ================================================== -->
  <!-- All-day events container -->
  <!-- ================================================== -->
  <div class="all-day-events-container" (click)="openDialog($event)">
    <div class="time-offset-cell">
      <span id="timezoneOffset" class="timezone-offset-label">GMT</span>
    </div>
    <div id="0" class="cell all-day-event-cell">
      <!-- <div class="event all-day-event">
        <span>Renew Bloomberg subscription</span>
      </div> -->
    </div>
    <div id="1" class="cell all-day-event-cell"></div>
    <div id="2" class="cell all-day-event-cell"></div>
    <div id="3" class="cell all-day-event-cell"></div>
    <div id="4" class="cell all-day-event-cell"></div>
    <div id="5" class="cell all-day-event-cell"></div>
    <div id="6" class="cell all-day-event-cell"></div>
  </div>

  <!-- ================================================== -->
  <!-- Calendar content -->
  <!-- ================================================== -->
  <div id="calendar" class="calendar-container" (click)="openDialog($event)"></div>
</div>
