@import "../../../sass/main.scss";

.wrapper {
  display: grid;
  height: inherit;
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
}

// ===========================================================================
// Containers
// ===========================================================================

.header {
  display: grid;
  grid-template-columns: [time-column] 48px repeat(7, 1fr [day-column]);
  padding-right: 15.49px;
}

.all-day-events-container {
  display: grid;
  grid-template-columns: [time-column] 48px repeat(7, 1fr [day-column]);
  border-bottom: 1px solid #dadce0;
  padding-right: 15.49px;
}

.all-day-events-container > .all-day-event-cell:last-child {
  border-right: none;
}

.calendar-container {
  display: grid;
  grid-template-rows: repeat(24, 48px);
  grid-template-columns: [time-column] 48px repeat(7, 1fr [day-column]);
  overflow-y: scroll;
}

.date-info-container {
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.day-date-container {
  width: 100%;
}

// ===========================================================================
// Cells
// ===========================================================================

.header-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.25rem;
}

.header-cell > h2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep .cell {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-width: 80px;
  min-height: 48px;
  border: 1px solid #dadce0;
  cursor: pointer;
  position: relative;
}

:host ::ng-deep .cell .event:not(:first-child) {
  margin-top: 1px;
}

.time-offset-cell {
  padding-right: 0.25rem;
  align-self: flex-end;
  justify-self: flex-end;
}

:host ::ng-deep .time-cell {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: -10px;
  color: #70757a;
  font-size: 10px;
  padding-right: 0.25rem;
}

.all-day-event-cell {
  display: flex;
  flex-direction: column;
  border-top: none;
  border-right: 1px solid #dadce0;
  border-bottom: none;
  border-left: 1px solid #dadce0;
  cursor: pointer;
  position: relative;
}

// ===========================================================================
// Misc.
// ===========================================================================

.timezone-offset-label {
  color: #70757a;
  font-size: 10px;
}

:host ::ng-deep .event {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $primary-color;
  color: #fff;
  white-space: nowrap;
  padding: 2px;
  border-radius: 4px;
  font-size: 0.75rem;
  border: transparent;
  z-index: 1;
}

.position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.weekday {
  color: #70757a;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-indent: 2px;
}

.day {
  color: #70757a;
  text-align: center;
  font-size: 26px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
}

:host ::ng-deep .is-future-date {
  color: #3c4043;
}

:host ::ng-deep .is-current-date {
  background-color: $accent-color;
  color: #000;
}
